#erroVazio{

    position: fixed;
    top: 44vh;
    text-align: center;
    background: #bd3a3a;
    color: #fff;
    padding: 2% 4%;
    border-radius: 10px;
    font-weight: 600;
    z-index: 1000;

}