footer{

    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #59138B;
    mask-image: linear-gradient(to top, #59138B 0%, #59138B 30%, #59138B 70%, transparent 130%);
    position: relative;
    padding: 15px;
    z-index: 999;

}

footer a{font-weight: 500;}/* Para todos os links de footer */

/* Tamanho da imagem */
#campoImagem img{width: 8vw;}

/* Lista de contatos */
#contatosDev ul{

    margin: 0;
    padding: 0;

}
#contatosDev li:first-child{margin-bottom: 10px;}

/* Navegação de rede social */
#navegacaoExternaSocial{

    display: flex;
    flex-direction: column;
    gap: 15px

}

/* Para que em dispositivos maiores, o height seja automático */
@media screen and (min-width: 1024px){

    #mainPrincipal{height: auto;}

}

@media screen and (min-width: 1366px), screen and (min-height: 1024px) {

    .footerCadastro {bottom: -350px;}

}


@media screen and (max-width:667px){
    
    /* Para quando estiver na tela de cadastro */
    .footerCadastro{bottom: -300px !important;}

    footer{

        flex-direction: column;
        align-items: initial;

    }

    #campoImagem img{width: 15vw;}

    #campoInformacao{

        margin-left: 20vw;
        position: relative;
        top: -40px;

    }

    #contatosDev{

        margin-left: 20vw;
        position: relative;
        top: -40px;

    }

    #navegacaoExternaSocial{

        position: absolute;
        right: 20px;

    }

}