#logoCentral {
  width: 200px;
}

/* Botão de ler */
.blob-btn {
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  transition: color 0.5s;
}

.blob-btn:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border: 2px solid #D51919;
  border-radius: 30px;
}

.blob-btn:after {
  content: "";
  position: absolute;
  z-index: -2;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: all 0.3s;
}

.blob-btn:hover {
  color: #D51919;
}

.blob-btn:hover:after {
  left: 0;
  top: 0;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background: #D51919;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url('#goo');
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #ffffff;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.4); /* já assume suporte ao filter */
  transition: transform 0.45s;
}

.blob-btn__blob:nth-child(1) { left: 0; transition-delay: 0s; }
.blob-btn__blob:nth-child(2) { left: 30%; transition-delay: 0.08s; }
.blob-btn__blob:nth-child(3) { left: 60%; transition-delay: 0.16s; }
.blob-btn__blob:nth-child(4) { left: 90%; transition-delay: 0.24s; }

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.4);
}
