.mainCadastro{

    height: 100vh !important;
    padding: 50vh 0 20vh 0;

}

.mainCadastro #fundoVideo {
 
    height: calc(100vh + 70vh);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
  
}