.mainCadastro{

    height: auto !important;

}

.caixaSegurar{

    height: auto !important;
    position: relative;
    bottom: -300px;
    padding-top: 20px;

}

.caixaSegurar h1{
    top: -9vh !important;
}

#formLogin input[type=password] {
    border-radius: 8px;
    width: 70%;
}

/* Check lista */

.password-validation {
    list-style: none;
    padding: 10px;
    font-size: 14px;
    background: #1e1e1e;
    color: white;
    border-radius: 5px;
    width: fit-content;
    margin-top: 5px;
}

.password-validation li {
    margin: 5px 0;
    font-weight: bold;
    transition: all 0.3s ease;
}

#campoEmpresa{margin-bottom: 0;}

/* Caixa checkbox */

#caixaCheckbox{

    align-self: flex-start;
    margin-left: 63px;
    margin-bottom: 10px;

}

#caixaCheckbox input[type='checkbox']{

    margin-right: 10px;

}

/* estilo do texto de erro */

.error{

    color: red;
    margin: 0;
    align-self: flex-start;
    margin-left: 4.5vw;

}