/* === Seção principal de produtos === */
#mainProduto {
  
  padding-bottom: 50px;
  background: #130e14;

}

/* Adiciona uma imagem decorativa à esquerda da seção */
#mainProduto::before {
  content: url(/src/assets/produto/l.png);
  position: absolute;
  z-index: 1000;
  left: 5%;
}

/* === Carrossel de imagens === */
.carrossel{
  overflow: hidden; /* Esconde partes que saem do container */
  width: 100vw;
  height: 100vh;
  /*margin-top: 80px;*/
}

/* Container interno do carrossel com animação de slide horizontal */
.wrap {
  display: grid;
  grid-auto-flow: column; /* Garante que as imagens fiquem em sequência horizontal */
  grid-auto-columns: 100vw; /* Cada imagem ocupa a tela inteira */
  justify-items: stretch;
  animation: slide 30s linear infinite; /* Animação contínua */
}

/* Imagens do carrossel */
.wrap img {
  width: 100vw;
  height: 90vh;
  border-radius: 15px;
  object-fit: 100% 100%; /* Força o preenchimento completo */
  filter: brightness(80%); /* Escurece a imagem */
  mask-image: linear-gradient(to top, #00000000 0%, #00000021 10%, black 30%, #00000000 100%);
}

/* Animação que move o carrossel para a esquerda */
@keyframes slide {
  to {
    translate: calc(-4 * 100vw); /* Desloca 4 imagens para a esquerda */
  }
}

/* === Imagem de separação/decoração entre seções === */
.separacaoSecao {
  filter: brightness(0.5);
  display: flex;
  width: 100vw;
  height: 40vh;
  margin: 120px 0 80px 0;
}

.separacaoSecao img {
  flex: 1;
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
}


/* === Responsividade para tablets (até 1024px) === */
@media (max-width: 1024px) {

  .carrossel {
    position: relative;
    top: 140px;
  }

  .wrap img {height: 60vh; /* Reduz altura do carrossel */}

  /* Reposiciona imagem decorativa para telas médias */
  #mainProduto::before {
    left: 5%;
    top: 30%;
  }

  .separacaoSecao {
    height: auto;
    margin: 90px 0 80px 0;
  }

  .separacaoSecao img {
    width: 10%;
    height: 200px;
  }

  .titulo h2{
    align-self: flex-start;
    font-size: 2.5em;
  }

}

/* === Responsividade para celulares (até 600px) === */
@media (max-width: 600px) {

  .carrossel {position: inherit;}

  #mainProduto::before {
    top: inherit;
    left: -13vh !important; /* Move a imagem decorativa para fora da tela */
    transform: scale(0.5); /* Diminui tamanho da imagem */
  }

  .wrap img {height: 40vh; /* Carrossel menor */}

  .carrossel{height: 60vh;}

  .titulo {font-size: 1.2em;}

  .titulo h2 {font-size: 1.5em;}

}