@media screen and (min-width:1024px){

    #sepTextButtons{width: 600px;}

}

/* Para tablets */
@media screen and (max-width:1025px) {

    #mainPrincipal{

        flex-direction: column;
        align-items: center;
        height: 100vh;
        margin: 0;

    }

    #sepTextButtons p{font-size: 1.3em;}

    .seguraBorda {height: auto;}/*div de texto e lata*/

    #buttons, .buttons svg{display: none !important;}/*campos do button da lata*/

    #logoCentral {width: 250px !important;}/* Imagem da logo */

    #lata {left: 22%;}/* Imagem da lata */

    .seguraBorda:nth-child(2){/* parte da lata */

        position: relative;
        bottom: 15%;

    }

    #sepTextButtons{width: 70%;}/* Caixa de separação do texto e do botão */
}

/* Para celular */
@media screen and (max-width:667px) {

    #mainPrincipal{
        width:auto;
        padding-top: 50px;
        justify-content: center;

    }

    #mainPrincipal div {gap: initial !important;}/* Separação dos elementos da #mainPrincipal */

    #logoCentral {width: 200px !important;}/* imagem logo */

    #sepTextButtons{
        justify-content: center;
        align-items: center;
        width: auto;
    }

    #sepTextButtons div{width:67%;}/* div do texto */

    .seguraBorda:nth-child(2){
        position: initial;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #vampImagem{
        display: flex;
        justify-content: center;

    }

    #vampImagem img{

        width: 60vw;
        margin-bottom: 30px;

    }

    .seguraBorda p{

        width: 75%;
        text-align: center;
        margin-top: 28px;

    }

    
}

/* Especifico pra um tipo de tablet */
@media screen and (max-width:768px) and (max-height:1024px){

    #mainPrincipal div{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 27px;

    }

    .seguraBorda p{width: 75%;}

    .seguraBorda:nth-child(2) {position: initial;}

}