.titulo{

    align-self: flex-start;
    margin-left: 10%;

}

.titulo h2{

    text-decoration: underline;
    align-self: center;

}

.produto span,
.produto h3{padding-left: 10px;}

.produto h3{margin-bottom: 0;}

.preco{font-weight: bold;}

#descricao{
  
  margin: 10px 0;
  padding: 0 10px;

}

.produto button{

    position: initial;
    border-radius: 100px;
    background: #dcdde1;
    padding: 5px;
    width: 50%;
    margin: 13px auto 0 auto;

}

.produto button a{

  color: #e74c3c;
  font-weight: 600;

}
.produto button:hover .produto button a{color: green;}

.produto button:hover{background:#b2b3b5;}

.produto {

  background: #e74c3c;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-radius: 0 0 10px 10px;
  width: 180px;
  font-size: 90%;

}

.caixaProduto {
  margin: 15px;
  flex: 1 1 45%; /* cada caixa ocupa ~45% da linha */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixaProduto img {

  width: 180px;
  border-radius: 10px 10px 0 0;
  filter: opacity(0.8);

}


@media (max-width: 1024px) {

  #alinhamentoCaixas {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .caixaProduto {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    filter: drop-shadow(2px 4px 6px black);
  }

  .produto {
    width: 500px;
    height: 90%;
    box-shadow: -32px 7px 56px -15px rgb(0 0 0);
    justify-content: center;
    border-radius: 0 10px 10px 0;
  }

  .caixaProduto img {
    width: 217px;
    border-radius: 10px 0 0 10px;
  }

  .produto h3 {font-size: 2em;}

  .produto span {font-size: 1.5em;}


}

@media (max-width: 600px){

  .caixaProduto {
    flex-direction: row !important;
    align-items: center;
    width: 90vw;
  }

  .produto {
    width: 100vw;
    max-width: auto;
    height: 160px;
  }

  .caixaProduto img {width: 190px;}

  .produto span{font-size: 1em;}

  .produto h3 {font-size: 1.3em;}

  .produto button {
    width: 70%;
    font-size: 0.9em;
  }

}

@media (max-width: 344px){

  .produto {
    width: 65vw;
    height: 134px;
    font-size: 70%;
  }

  .caixaProduto img {width: 161px;}

  .produto span {padding-left: 10px;}

}