.titulo{

    align-self: flex-start;
    margin-left: 10%;

}

.titulo h2{

    font-size: 2em;
    text-decoration: underline;
    align-self: center;

}

.produto span,
.produto h3{padding-left: 10px;}

.produto h3{
  font-size: 1.3em;
  margin-bottom: 0;

}

.preco{

  font-weight: bold;

}

#descricao{
  
  margin: 10px 0;
  padding: 0 10px;

}

.produto button{

    position: initial;
    border-radius: 100px;
    background: #59138b;
    padding: 5px;
    width: 50%;
    margin: 13px auto 0 auto;

}

.produto button:hover{

  background:#65558f85;
  border: 1px solid #fff;

}

.produto {
  background: #2C2C2C;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-radius: 10px;
  /*height: auto;*/
  width: 180px;

}

.caixaProduto {
  margin: 15px;
  flex: 1 1 45%; /* cada caixa ocupa ~45% da linha */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixaProduto img {
  width: 180px;
}
