@media screen and (max-width:1180px){

    #mainLogin h1{

        font-size: 4em;
        position: initial;
        margin: 0 0 0 119px;

    }

    #mainLogin #caixaForm {
        
        /*background: #2d2d2dcf;*/
        width: 100vw;
        padding-bottom: 40px;
    }

    #formLogin {
     
        justify-content: space-evenly;
        height: 60%;
    }

    #formLogin input[type=submit] {

        /*padding: 10px;*/

    }

    #formLogin input[type=text],
    #formLogin input[type=password],
    #formLogin input[type=tel],
    #formLogin input[type=date],
    #formLogin input[type=email]{
        
        height: 30px;
        padding: 11px;
    }
    #formLogin input[type=password]{
        border-radius:  8px 0px 0px 8px;
        width: 30%;
    }

    /* botão password */
    button {
    
        padding: 1.1em 1.2em;
        position: absolute;
    }

    .password-container{
        
        /*height: 40px;*/
        width: 73%;
    
    }

    .password-container input[type=text],
    .password-container input[type=password]
    {
    
        width: calc((70vw + 11px) - 4.5em)!important;

    }

    .toggle-container{
        
        align-items: flex-end;
    
    }
   
}

@media screen and (max-width:667px){

    #mainLogin h1{

        font-size: 2em;
        margin: 0 0 0 50px;

    }

    .password-container{
        width: 76%;
    }

    button {
        padding: 0.6em 1.3em;
    }

    #formLogin input[type=text],
    #formLogin input[type=password],
    #formLogin input[type=tel],
    #formLogin input[type=date],
    #formLogin input[type=email] {
        height: auto;
    }
    
}

