#mainLogin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background: #00000042;
}

#fundoVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(2);
}

#caixaForm{

    width: 50vw;
    background: #2a292bcf;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

#caixaForm h1{margin-top: 10px;}

#formLogin{

    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;

}

#formLogin input[placeholder='email']{width: 100%;}

/* Senha */

.password-container{width: 100%;}

.password-container {
    display: flex;
    width: 100%;
}

.password-container input {
    flex: 1;
    border: 1px solid #858585;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
}

.toggle-password {
    border: 1px solid #858585;
    border-left: none;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.toggle-password:hover {
    background-color: #777;
}

/* Botão ligar e desligar */

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
   
}

.toggle-container span{margin-left: 10px;}
span a:hover{text-decoration: underline;}
#switch:not(#checkCadastro){
    height: 0;
    width: 0; 
    visibility: hidden;
}

.toggle-label {
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: #ccc;
    display: block;
    border-radius: 50px;
    position: relative;
    transition: background 0.3s ease-in-out;
}

.toggle-label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 19px;
    height: 19px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, background 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input:checked + .toggle-label {
    background: #4caf50;
}

input:checked + .toggle-label::after {
    transform: translateX(25px);
    background: #e8f5e9;
}

.toggle-label:active::after {
    width: 22px;
}

/* Google */

.nsm7Bb-HzV7m-LgbsSe-BPrWId{
    
    color: #000;
    margin: 0 !important;

}

.google-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* span de questionamento */
#formLogin span{text-align: center;}

/* Botão de enviar */
#formLogin input[type='submit'] {
    margin-top: 30px;
    background: #f0f8ff;
    color: #444444;
    font-weight: 600;
    transition: background 400ms;
    border: 0;
    cursor: pointer;
}

#formLogin input[type='submit']:hover {
    background: #444749;
    color: #fff;
    filter: drop-shadow(2px 4px 6px black);
}