@media (max-width: 1200px){

  #mainCarrinho #close{margin-top: 10vw;}
  #mainCarrinho #close img{width: 5vw;}

  .resumoProdutos,
  .titulosDoCarrinho ul{justify-content: space-around !important;}
  .titulosDoCarrinho ul li:first-child {margin-right: 21vw !important;}

  .botaoQuantidade button {position: inherit;}
  .resumoFinalizacao {margin: 20vh 0 0 0vw;}
  
}

@media (max-width: 768px){

  /*#mainCarrinho{width: 100vw;}*/

  .seguraProdutos{padding-top: 50px;}
  .seguraProdutos h1{font-size: 2em;}

  .resumoProdutos, 
  .botaoQuantidade, 
  .titulosDoCarrinho ul {

    justify-content: space-between;
    padding: 10px;

  }

  .titulosDoCarrinho ul{padding: 0;}
  .titulosDoCarrinho ul li{margin: 0 5px;}
  .titulosDoCarrinho ul li:first-child {margin-right: 27vw;}

  .produtoCarrinho h2{font-size: 0.8em;}

  .botaoQuantidade button,
  .botaoQuantidade div{

    padding: 5px;
    position: inherit;
  }

  .checkbox-wrapper-30 .checkbox svg,
  .checkbox-wrapper-30 .checkbox input {
    height: 70%;
    width: 70%;
  }

  #resumo {width: 60vw;}
  .caixaDoCupom input{

    padding: 3px;
    width: 130px;

  }

  .resumoFinalizacao label{

    display: block;
    margin-bottom: 7px;
  
  }

  #botoesCarrinho {

    flex-direction: column;
    align-items: stretch;
    
  }

  #botoesCarrinho button {width: 100%;}
  #botoesCarrinho button:first-child{margin-bottom: 20px;}
    
}
