@media (max-width: 1200px){

    .resumoFinalizacao {margin: 20vh 0 0 0vw;}

    .botaoQuantidade button {position: inherit;}
  
  }

  @media (max-width: 768px){

    #mainCarrinho{width: 100vw;}

    .seguraProdutos h1{font-size: 2em;}

    .seguraProdutos{padding-top: 50px;}

    .produtoCarrinho h2{font-size: 0.8em;}
    .botaoQuantidade button,
    .botaoQuantidade div{

        padding: 5px;
        position: inherit;
    }

    .checkbox-wrapper-30 .checkbox svg,
    .checkbox-wrapper-30 .checkbox input {
      height: 70%;
      width: 70%;
    }

    .titulosDoCarrinho ul li{margin: 0 5px;}

    .titulosDoCarrinho ul li:first-child {
        margin-right: 15vw;
    }

    .titulosDoCarrinho ul{padding: 0;}

    .resumoProdutos, .botaoQuantidade, .titulosDoCarrinho ul {
        justify-content: space-between;
        padding: 10px;
    }

    #resumo {
        width: 60vw;
    }
    .caixaDoCupom input{

        padding: 3px;
        width: 130px;

    }

    .resumoFinalizacao label{

      display: block;
      margin-bottom: 7px;
  
    }

    /*.resumoFinalizacao button {
        padding: 4px;
        font-size: 0.9em;
    }*/

    #botoesCarrinho {
      flex-direction: column;
      align-items: stretch;
    }

    #botoesCarrinho button {
        width: 100%;
    }
    #botoesCarrinho button:first-child{

      margin-bottom: 20px;

    }
    

  }
