@media screen and (max-width:667px){
    
    #log img{
        
        width: 140% !important;
        
    
    }
    #logoHeader{width: 70px !important;}
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
        z-index: 5; /* Coloca acima dos outros elementos */
      }

    #dropdownMenu {
        top: 85%;
        right: 2%;
    }

}
@media screen and (max-width:1024px){

    .sombra{box-shadow: none;}

    .login-container, #dropdownMenu{z-index: 100;}
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
        z-index: 5; /* Coloca acima dos outros elementos */
    }

    header{flex-direction: row;}

    header nav{background: none !important;}

    /* Primeira nav */
    header nav:first-child {
        width: 100vw;
        justify-content: space-between;
    }
    /* Imagem da logo */
    #logoHeader {
     
        height: auto;
        width: 117px;
    }

    /* Tirando margin da imagem de login */
    #log img {
        margin-right: 0px;
        width: 230%;
    }


    /* parte de login e dropdown*/
    #log {

        flex-direction: column;
        width: 15%;
    
    }

    #dropdownMenu a{display: block;}

    /* Tirando a lista 1 e botões de login */
    #listaInterna, #linksLogin{display: none;}

}
