@media screen and (max-width:1024px){

    .login-container,
    #dropdownMenu{
        right: 12%;
        z-index: 100;
    }/* Faz o dropDown ficar a cima de todos os elementos*/

    /* Estilização do dropdown*/
    #log {

        width: 15%;
        margin-top: 20px;
        font-size: 1.5em;
        flex-direction: row;
        gap: 15%;
        margin-right: 12%;
    
    }

    .logadoUsu{

        margin-left: 10px;
        font-size: 60%;
    
    }
    #perfilMobile{

        display: flex;
        align-items: center;

    }

    #carrinhoHeader {
        margin-left: 0px;
    }

    /*#log img {width: 180%;}*/

    #dropdownMenu::before {
        content: url("./../../assets/arrow.png");
        display: inline-block;
        position: absolute;
        top: -30px;
        right: 10px;
        transform: rotate(271deg);
    }

    #dropdownMenu {

        margin-top: 30px;
        position: absolute;
        top: 80%;
        right: 11vw;
        padding: 15px 40px 10vw 10px;
        background: #b5b4b469;
        border-bottom: 2px solid #ffffff85;
        
    }
    .padraoLi a::after {
        content: "";
        width: 130%;
        height: 2px;
        background: #e5e5e5d9;
        display: block;

    }

    /* separação do dropdown */
    .bordaSeparatoria{

        border-bottom: 2px solid #fff;
        padding: 0 0 10px 0;
    }

    .padraoLi{margin-bottom: 5px;}
    
}

@media screen and (max-width:667px){

    #dropdownMenu {

        right: 15vw;
        font-size: 0.8em;
        
    }
    .padraoLi a::after{
        width: 150%;
    }

    /* Estilização da parte do dropDown */
    #log{

        margin: 10px 26% 0 0;
        font-size: 1em;

    }

    #log img {width: 25px;}

}

@media screen and (max-width:1024px),
       screen and (max-width:667px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }
}