header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Navbar principal */
header nav:first-child {

    display: flex;
    align-items: center;
    padding: 10px 5%;
    
}

/* Lista de navegação da primaira nav */
#listaInterna {
    display: flex;
    list-style: none;
    margin-left: 20px;
}

#listaInterna li {
    margin-left: 35px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}


/* Parte de login */

.desktop-links a{display: block;}/* Colocando os links em bloco */

/* Nav da parte do Login */
#log {

    align-items: center;
    display: flex;
    padding: 10px 3%;
    
}

/* Crrinho do header */
#carrinhoHeader{margin-left: 20px;}
#carrinhoHeader img{width: 34px;}
