#divGeral{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
    
}

#divGeral img{

    width: 70px;
    animation: blink 1s infinite;
    
}
